PROJECT_NAME=Generate Word API
API_V1_STR=/api/v1
PORT=8000
HOST=0.0.0.0
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173","http://127.0.0.1:3000","http://127.0.0.1:5173"]
DEBUG=True
TEST_MODE=False
VOTEE_API_BASE_URL=https://wordle.votee.dev:8000
DEFAULT_SOLVER_START_WORD=crane
MAX_SOLVE_ATTEMPTS=30
